*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    background-color: rgb(8, 59, 76);
}

h1{
    margin: 2rem;
    font-size: 40px;
    text-align: center;
    color: white;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.squares{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.box{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 137, 178);
    border-radius: 10px;
}

.green{
    background-color: rgb(12, 214, 161);
}

.red{
    background-color: rgb(240, 70, 111);
}

.yellow{
    background-color: rgb(255, 209, 102);
}
